<h1>Tech Blog</h1>
<div >
<form class="postForm" >
<label for="title"></label>
<input class="formInput" type="text" id="title" placeholder="Post Title"/>
<label for="post"></label>
<textarea class="formInput" type="text" id="post" rows="4" cols="50" placeholder="Type Something Cool Here"></textarea>
  <br><br>
  <button type="submitbtn" value="Submit">Submit</button>
</form>
</div>

<script src="./js/post.js"></script>